{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - SuslickeTEAM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=56ac0ec133e27aff839b2e0be71ab12f">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=e3c1c5cd1419a01279dd9011561a841f">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse"
                class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#main">Главная</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#category">Категории</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#updates">ОБновления</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#about">о нас</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead"
        style="background-image: url('/assets/img/intro-bg.jpg?h=145cae4a8124ee5dac950230c1552d3c');">
        <div id="main" class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">ДОБРО ПОЖАЛОВАТЬ</h1>
                        <p class="intro-text">В музей им. "Олега Позднякова"</p><a class="btn btn-link btn-circle"
                            role="button" href="#category"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center d-xxl-flex align-items-xxl-center" id="category">
        <div class="container">
            <h2>Категории</h2>
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center g-4">
                <div class="col d-flex justify-content-center"><a href="/exhibitions.html">
                        <div class="card bg-dark border-dark"><img class="card-img-top w-100 d-block"
                                src="/assets/img/Снимок%20экрана%202022-11-17%20в%2016.48.53.png?h=4cabcd80adbf3a7537fa95f0e3549a70"
                                alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col d-flex justify-content-center"><a href="">
                        <div class="card bg-dark border-dark"><img class="card-img-top w-100 d-block"
                                src="/assets/img/Снимок%20экрана%202022-11-17%20в%2016.48.53.png?h=4cabcd80adbf3a7537fa95f0e3549a70"
                                alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col d-flex justify-content-center"><a href="">
                        <div class="card bg-dark"><img class="card-img-top w-100 d-block"
                                src="/assets/img/Снимок%20экрана%202022-11-17%20в%2016.48.53.png?h=4cabcd80adbf3a7537fa95f0e3549a70"
                                alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                            </div>
                        </div>
                    </a></div>
                <div class="col d-flex justify-content-center"><a href="">
                        <div class="card bg-dark border-dark"><img class="card-img-top w-100 d-block"
                                src="/assets/img/Снимок%20экрана%202022-11-17%20в%2016.48.53.png?h=4cabcd80adbf3a7537fa95f0e3549a70"
                                alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </section>
    <section class="text-center modal-dialog-centered" id="updates">
        <div class="container">
            <h2>Обновления</h2>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000"><img class="d-block w-100"
                            src="/assets/img/Снимок%20экрана%202022-11-17%20в%2016.48.53.png?h=4cabcd80adbf3a7537fa95f0e3549a70"
                            alt="..."></div>
                    <div class="carousel-item" data-bs-interval="2000"><img class="d-block w-100" src="..." alt="...">
                    </div>
                    <div class="carousel-item"><img class="d-block w-100" src="..." alt="..."></div>
                </div><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Previous</span></button><button class="carousel-control-next"
                    type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next"><span
                        class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Next</span></button>
            </div>
        </div>
    </section>
    <section class="text-center modal-dialog-centered" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>О НАС</h2>
                    <h5>Музей Боевой Славы именни Олега Позднякова</h5>
                    <p>Школьный музей был открыт 5 мая 1975г. В память о героических страницах Великой Отечественной
                        войны. Основную экспозицию музея составляют экспонаты времён Велиой Отечественной войны.</p>
                    <p>Одним из центров воспитательной работы в школе является музей Боевой Славы имени Позднякова Олега
                        Николаевича, на его базе работает клуб «Память», основной задачей которого является
                        патриотическое воспитание обучающихся.</p>
                    <p>Основными направлениями в работе музея являся: изучение материалов об истории боевого пути 301
                        БАД и материалов о выпускниках школы погибших в Афганской и Чеченской войнах: Олега Позднякова
                        Юрия Захарова, Романа Башмакова и Сергея Жигальцева, подполковника полиции Сергея Богданова.</p>
                </div>
            </div>
        </div>
    </section><!-- Start: Map Clean -->
    <div class="map-clean"></div><!-- End: Map Clean -->
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;<a href="https://github.com/SuslickeTEAM">SuslickeTEAM</a> 2023</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js?h=e141ba749a4b7c929490f2add43b2869"></script>
</body>

</html>