{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="title">О музее</div>
<div class="content">
<p class="description">Музей Боевой Славы именни Олега Позднякова</p>
<p class="text">Школьный музей был открыт 5 мая 1975г. В память о героических страницах Великой Отечественной войны. Основную экспозицию музея составляют экспонаты времён Велиой Отечественной войны.</p>
<p class="text">Одним из центров воспитательной работы в школе является музей Боевой Славы имени Позднякова Олега Николаевича, на его базе работает клуб «Память», основной задачей которого является патриотическое воспитание обучающихся.</p>
<p class="text">Основными направлениями в работе музея являся: изучение материалов об истории боевого пути 301 БАД и материалов о выпускниках школы погибших в Афганской и Чеченской войнах: Олега Позднякова Юрия Захарова, Романа Башмакова и Сергея Жигальцева, подполковника полиции Сергея Богданова.</p>
</div>
</div>
{% endblock %}
