{% extends 'base.html' %}

{% block content %}
<section id="exhibits" class="container">
  <h2 class="text-center">Экспонаты</h2>
  <ul class="list-unstyled exhibit-list">
    {% for exhibit in exhibits %}
    <li class="exhibit-item">
      <img class="exhibit-image" id="exhibit-image-{{ exhibit.id }}" src="{{ exhibit.image.url }}" alt="{{ exhibit.title }}" onclick="playAudio('{{ exhibit.audio.url }}', '{{ exhibit.id }}');">
      <div class="exhibit-info">
        <h3 class="mt-0">{{ exhibit }}</h3>
        <p>{{ exhibit.description }}</p>
      </div>
      {% if exhibit.audio %}
      <audio id="audio-{{ exhibit.id }}" src="{{ exhibit.audio.url }}"></audio>
      {% endif %}
    </li>
    {% empty %}
    <p>Нет доступных экспонатов.</p>
    {% endfor %}
  </ul>
</section>

<script>
  var currentAudio = null;
  var currentImage = null;

  function playAudio(url, id) {
    var audio = document.getElementById('audio-' + id);
    var image = document.getElementById('exhibit-image-' + id);

    if (currentAudio) {
      currentAudio.pause();
      currentAudio.currentTime = 0;
      currentImage.style.border = "none";
    }

    if (currentAudio !== audio) {
      audio.play();
      image.style.border = "1px solid black";
      currentAudio = audio;
      currentImage = image;
    } else {
      currentAudio = null;
      currentImage = null;
    }
  }
</script>
{% endblock %}
