{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="panorama-container">
    <div class="image-container"></div>
</div>
<div class="main-container">
    <h1>Добро пожаловать в музей</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js" integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/panolens.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    setTimeout(function() {
        var welcomeText = document.querySelector(".main-container h1");
        welcomeText.classList.add("shrink");
    }, 5000);
</script>
{% endblock %}
